@font-face {
  font-family: 'Pixel-Emulator';
  src: local('Pixel-Emulator'), url('../fonts/Pixel-Emulator.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Ligconsolata';
  src: local('Ligconsolata'), url('../fonts/Ligconsolata-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Ligconsolata';
  src: local('Ligconsolata'), url('../fonts/Ligconsolata-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
